<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% founders.forEach(function(founder){ %>
      <li>
        <span><%= founder.toObject().name %></span>
        <p><%= founder.toObject().founderDetailLink %></p>
        <img src="<%= founder.toObject().avatar %>" alt="" />
      </li>
      <% }) %>
    </ul>
  </body>
</html>
